/* reset */

*{

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font:inherit;
    vertical-align:baseline;

}
 
/* variables */

:root{

    --Main-Font: 'Berkshire Swash', cursive;
    --Second-Font:'Pangolin', cursive;
    --Dark-Ish: #7272e7;
    --Dirty-White: #e4ceae;
    --Bright-Red: #ec1640;
    --Dirty-Black: #191919;

}

/* general */

body{

    min-height: 100vh;
    font-family: var(--Main-Font);

}

section{

    min-height: 100vh;
}

#DarkLightToggler{

    position: absolute;
    top:2rem;
    left:2rem;
    width :60px;
    height: 20px;
    -webkit-appearance: none;
    cursor: pointer;
    background: var(--Bright-Red);
    border-radius: 20px;
    box-shadow: 2px 2px 20px var(--Bright-Red),
                -2px -2px 20px var(--Bright-Red),
                0 0 0 1px #000;
}

#DarkLightToggler::before{

    content:'';
    position:absolute;
    top:0;
    right:0;
    width:40px;
    height:20px;
    background: linear-Gradient(90deg, var(--Dirty-White),var(--Dirty-White),#FFF);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #000;
    transform: scale(.95,.9);

}

#DarkLightToggler::after{

    content:'';
    position:absolute;
    top:45%;
    right:8%;
    width:4px;
    height:4px;
    background: var(--Bright-Red);
    border-radius: 50%;
    box-shadow: 0 0 2px var(--Bright-Red);

}

/* header */

#topHover{

    margin-left: -900px;
    margin-top: 200px;

}

@media(max-width:880px){

    #topHover{

        visibility: hidden;

    }

}

#intro{

    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    flex-direction: column;

}

#intro:before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    background: url("./Images/LightMode/LightMode.jpg");
    opacity: .2;
}

#intro h1{

    position:relative;
    font-size: 4rem ;
    color: var(--Dirty-Black);
    text-shadow: -.2rem .2rem var(--Dirty-White);
    text-align: center;
    margin: 0 1rem;
    user-select: none;

}

#intro p{

    position: relative;
    text-align: center;
    padding: 2rem 10rem;
    font-family: var(--Second-Font);
    color: var(--Dirty-Black);
    font-size: 2rem;
    text-shadow: -.1rem .1rem var(--Dirty-White);
    user-select: none;
    min-width: 0;

}

#intro > * span{

    position: relative;
    display: inline-block;
    cursor: pointer;

}

#intro > * span.toSmoke{

    animation: smoke 8s ease-in;
    transform-origin: bottom;

}

/* nav */

/* nav button */

.menuIcon{

    position: absolute;
    top: 2rem;
    right:2rem;
    width: 6rem;
    height: 6rem;
    background: var(--Dirty-White) url("./Images/navButton.png");
    background-size: 5rem;
    background-repeat: no-repeat;
    background-position: .5rem;
    cursor:pointer;
    border-radius: 50%;

}

.menuIcon.active{

    background: var(--Dirty-White) url("./Images/closeNavButton.png");
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: 1rem;
    cursor:pointer;

}

.addMenuButtonAnimation{

    animation: navToTopButton 1s ease-in-out;

}

/* Back to top button */

.backToTop{

    position: fixed;
    bottom: 2rem;
    right:2rem;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    padding: .4rem 1.6rem;
    border: .2rem solid var(--Dirty-Black);
    border-radius: 50%;
    background-color: var(--Dirty-White);
    cursor: pointer;
    visibility: hidden ;

}

.backToTopActive{

    visibility: visible;

}

/* actual nav */

.fullpageMenu{

    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Dark-Ish);
    transition: 0.5s;

}

.fullpageMenu.active{

    top:0;

}

.fullpageMenu .banner{

    position: relative;
    min-width: 60rem;
    height: 100%;

}

.fullpageMenu .banner img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

nav{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;

}

nav ul{

    position: relative;

}

nav ul li{

    position: relative;
    list-style: none;
    padding: 1rem 2rem;
    margin: .5rem 0;
    overflow:hidden;
    display: table;
    flex-shrink: 1;

}

nav ul li a{

    position: relative;
    color: var(--Dirty-Black);
    text-decoration: none;
    font-size:  4rem;
    font-weight: 700;
    line-height: 1rem;
    padding: 0.8rem;
    display: inline-block;
    text-transform: uppercase;
    transition: .5s ease-in-out;

}

@media (max-width: 85rem){

    .banner{

        display: none;

    }

}

/* About Section */

#about{

    color: var(--Dirty-Black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 20rem;
    background:linear-gradient(90deg, var(--Dark-Ish),var(--Dirty-White) , var(--Dark-Ish));

}

#content{

    text-align: center;

}

#content h1{

    font-family: var(--Main-Font);
    font-size: 2rem;
    text-shadow: -.2rem .2rem var(--Dirty-White);

}

#content p{
    
    font-family: var(--Second-Font);
    font-size: 1rem;
    margin: 1rem 2rem;
    text-shadow: -.1rem .1rem var(--Dirty-White);

}

#image{

    width: 200rem;
    height:20rem;
    background: url(./Images/LightMode/LightMode.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:1rem ;

}

@media(max-width:850px){

    #image{

        width: 0;
        height: 0;
        margin: 0;
    }

    #content h1{

        margin-top: 1rem;

    }

}

/* Projects Section */

#Projects{

    background: peru;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hoverIcon{

    content: '';
    background: url("Images/hoverLight.png");
    width: 10rem;
    height: 5rem;
    position: relative;
    top: 0;
    left: 0;
    background-size: contain;
    
}

.swiper-container{

    height: 80vh;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.swiper-slide{

    background-position: center ;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.swiper-slide .slideContent{

    background: var(--Dirty-White);
    color: var(--Dirty-Black);
    height: 40rem;
    width: 110rem;
    display: flex;
    justify-content:center;
    align-items: center;    

}

@media(max-width:800px){

    .swiper-slide .slideContent{    
        flex-wrap: wrap-reverse;
    }

}

.slideContent .slideText{

    flex: 1 1 60%;
    margin-left:5rem;
    margin-right:5rem;

}

.slideText h1{

    text-align: center;
    margin-bottom: .5rem;

}

.slideContent .slideText p{
 
    font-family: var(--Second-Font);

}

.slideContent .slideImage{

    margin-left:4rem;
    margin-right:4rem;

}

.slideContent .slideImage img{

    height: 10rem;
    width: 20rem;
    flex: 1 1 30%;

}

.slideContent .slideImage img:hover{

    outline: none;

}

.slideImage::after{

    content: '';
    width: 30px;
    height: 30px;
    background: var(--Bright-Red);
    background-image: url("Images/GitHub-Mark-32px.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    position: absolute;
    border-radius: 1000px;
    cursor: pointer;
    margin-left: -3rem;
    margin-top: 7.25rem;
    visibility: hidden;

}

.slideImage::before{

    content: '';
    width: 320px;
    height: 100px;
    background: var(--Dark-Ish);
    opacity: .8;
    margin-top: 140px;
    position: absolute;
    visibility: hidden;

}

.slideImage:hover::before{

    outline: none;
    visibility: visible;

}

.slideImage:hover::after{

    outline: none;
    visibility: visible;
    pointer-events: none;

}

.clickableArea{

    position: absolute;
    display: inline-block;
    background: #FFF;
    width: 30px;
    height: 30px;
    margin-left: -49px;
    margin-top: 116px ;
    opacity: 0;
    cursor: pointer;

}

/* Magic Section */

#Magic{

    background:gold;

}

/* Contact Section */

#Contact{

    background:white;

}

/* Footer */

footer{

    min-height: 20vh;
    background:black;

}

/* animations */

@keyframes smoke{

    0%{
    
        opacity: 1;
        filter: blur(0);
        transform: translate(0, 0) rotate(0deg) scale(1);
    }

    25%{
    
        opacity: 1;
        pointer-events: none;

    }

    50%{
    
        opacity: 0;
        filter: blur(2rem);
        transform: translate(30rem, -30rem) rotate(700deg) scale(4);

    }

}

@keyframes navToTopButton{

    0%{

        opacity: 1;
        transform: translate(0,0);

    }


    100%{

        opacity: 0;
        transform: translate(0,300vh);

    }

}